<hr>
<div>
    <input type="text" value="question" name="ques[]">
    <select name="ans[]" id="ans1" onchange="setanstype(this)">
        <option>text</option>
        <option>number</option>
        <option selected>checkbox</option>
        <option>radio</option>
        <option>date</option> 
    </select>
    <input type="number" name="noofop[]" class="noofop" value="1" readonly> 
</div>
<div>
    <input name="anstype[]" type="checkbox" value="option">
    <input type="text" value="option" class="opt" name="op[]">
</div>
<div class="addo">
    <button type="button" class="addop" onclick="addcheckbox()">add option</button>
</div>
<input type="button" class="req" onclick="setrequire(this)" value="notreq" style="background-color: red">
<input type="text" value="not req" name="req[]" class="rq" readonly>
<button  type="button" class="delete" onclick="delfield(this)"><i class="material-icons">delete</i></button>