python3
flask (can be installed by command pip install flask)
mysql-connector for python (pip install mysql-connector) * optional only if you want to create required tables using python script
flaskext.mysql ( pip install flaskext.mysql)
python3 passlib (pip install passlib)
werkzeug (installed automatically with flask installation)
